@import "../pages/_utils.scss";

.main {
  // margin: 0 auto;
  // background-image: url('../assets/our_dumpsters.jpg');
 
  background-color: #212d3d;

  nav {
    background-color: white;
    display: flex;
    align-items: center;
    height: 105px;
    padding-left: 70px;
    
    button {
      color: black;
    }
  }

  :global {
    .bgContractor {
      background-image: url('../assets/skylinebg_1.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position-y: 250px;
    }
  }

  nav > button {
    background-color: #f1f1f1;
    margin: 16px;
    padding: 20px;
    font-size: 30px;
    width: 140px;
    font-family: sans-serif;
    border-radius: 0px;
  }

  @include fsdesktop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  :global {
    h1 {
      font-size: 50px;
      font-weight: bold;
    }

    .b-dumpster {
      background: black;
    }

    .b-junk-removal {

    }

    .b-about-us {
      h2 {
        padding: 10px;
      }

      .b-content {
        max-width: 1120px;
      }
      //max-width: 400px;

      .jobs-map {
        @include fsmobile {
          display: none;
        }

        position: absolute; 
        transform: rotate(-2deg) translateX(-350px) translateY(-400px);
      }
    }
  }
}